<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.androidfragmant.cricket.allabout" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <permission android:name="${applicationId}.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="${applicationId}.permission.C2D_MESSAGE"/>

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>

    <application
        android:name="com.androidfragmant.cricket.allabout.ParseApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.FrontPage"
            android:screenOrientation="portrait"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.CricketNewsListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.FixtureActivity"
            android:screenOrientation="portrait"
            android:label="Fixture"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.NewsDetailsActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.Highlights"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.videoplayers.HighlightsVids"
            android:screenOrientation="landscape"
            android:label="@string/app_name"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.LiveScore"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.LiveScoreListActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name"/>


        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.TeamDetailsActivity"
            android:screenOrientation="portrait"
            android:label="Team Profile"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.TeamProfile"
            android:screenOrientation="portrait"
            android:label="Team Profile"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.PastMatchesActivity"
            android:screenOrientation="portrait"
            android:label="Past Matches"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.videoplayers.FrameStream"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>


        <activity
            android:name="com.androidfragmant.cricket.allabout.videoplayers.LiveStreamView"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.videoplayers.DMPlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="landscape"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"/>


        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.TrollPostListActivity"
            android:screenOrientation="portrait"
            android:label="Cricket Trolls"/>


        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.PlayerProfileActivity"
            android:screenOrientation="portrait"
            android:label="Player Profile"/>


        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.ActivityMatchDetails"
            android:screenOrientation="portrait"
            android:label="Score Details"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.FullCommentryActivity"
            android:screenOrientation="portrait"
            android:label="Full Commentry"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.RankingActivity"
            android:screenOrientation="portrait"
            android:label="Ranking"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.RecordsActivity"
            android:screenOrientation="portrait"
            android:label="Records"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.RecordDetailsActivity"
            android:screenOrientation="portrait"
            android:label="Record Details"/>

        <activity
            android:name="com.androidfragmant.cricket.allabout.activity.PointsTableActivity"
            android:screenOrientation="portrait"
            android:label="Points Table"/>

        <service android:name="com.batch.android.BatchPushService" />
        <receiver android:name="com.batch.android.BatchPushReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="${applicationId}" />
            </intent-filter>
        </receiver>

        <!--
          Optionally, register AnalyticsReceiver and AnalyticsService to support background
          dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

    </application>
</manifest>
